.header_input::placeholder {
  color: darkgreen;
  width: 400px;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.text {
  color: red;

}

.header_input {
  width: 400px;
  height: 200px;
text-align: center;
}
